div{
    text-align: center;
}
h1{
    color:green;
    font-size: 20px;
    display:inline-bolck;
    background-color: rgb(247, 197, 122);
}
p{
    background-color: yellow;

}
table{
    border:2px solid red;
}
table th, td{
    border:1px dotted black;
}
img{
    width:200px;
    height:auto;
}