div{
    text-align: center;
}
h1{
    color:green;
    font-size: 20px;
    display:inline-bolck;
    background-color: rgb(247, 197, 122);
}
p{
    background-color: yellow;

}
table{
    border:2px solid red;
    text-align: center;
    width: 500px;
    margin:0 auto;
}
table th, td{
    border:1px dotted black;
}
img{
    margin-top: 30px;
    width:200px;
    height:auto;
}
.form{
    background-color: rgb(170, 116, 240);
    border: 5px solid brown;
    padding: 10px;
}